@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family : 'Roboto';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
    }

:root{
    --primary-color: #000000;
    --secondary-color: #000000;
    --accent1-color: #004040;
    --accent2-color: #2ee0ea;

    --heading-font: 'Roboto', sans-serif;
    --parragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #000000;
    --nav-link-color: #000000;
    --nav-hover-link-color: #32d39d;
    --nav-hover-background-color: #477a81;

}


body, h1, h2, p, ul, li, figure {
    margin: 0;
    padding: 0;
}


body {
    font-size: 16px;
    font-family: var(--parragraph-font);
}


header {
    background-color: #f8f8f8; 
    padding: 20px;
    display: flex;
    align-items: center; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.logo {
    max-width: 100px; 
}

nav a {
    margin-left: 20px; 
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}


main {
    padding: 20px;
}

.hero {
    text-align: left; 
}

article {
    margin-top: 20px; 
}


section {
    margin-top: 30px; 
}


footer {
    background-color: var(--accent1-color);
    color: #fff;
    padding: 10px;
}

.sociallinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sociallinks img {
    max-width: 30px;
}

.sociallinks p {
    align-content: center;
}