@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family : 'Roboto';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
    }

:root{
    --primary-color: #000000;
    --secondary-color: #000000;
    --accent1-color: #004040;
    --accent2-color: #2ee0ea;

    --heading-font: 'Roboto', sans-serif;
    --parragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #000000;
    --nav-link-color: #000000;
    --nav-hover-link-color: #32d39d;
    --nav-hover-background-color: #477a81;

}

header {
    background-color: #f8f8f8; 
    padding: 20px;
    display: flex;
    align-items: center; 
    font-family: var(--heading-font);
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.logo {
    max-width: 100px; 
}

nav a {
    margin-left: 20px; 
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}

body {
    font-family: var(--parragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}



footer {
    background-color:var(--accent1-color);
    color: #fff;
    padding: 10px;
    font-family: var(--parragraph-font);
}

.sociallinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sociallinks img {
    max-width: 30px;
    align-items: flex-end;
}

.sociallinks p {
    align-content: center;
}